@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Bebas Neue, sans-serif;
    background: whitesmoke;
}
h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 50px;
    letter-spacing: 5px;
}
/* Add an opaque background*/
.loader {
    /* loader stays in the same position when the user scrolls */
    /* position: fixed; */
    /* Extend loader in the entire page */
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(255, 255, 255, 0.8); */
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  
}
/* Center loader vertically and horizontally */

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Img container */
.image-container {
    /* left to right then top to bottom */
    margin: 10px 25%;
}
/* img element child of the img container class */ 
.image-container img{
width: 100%;
margin-top: 5px;
}

/* Media Query: Large smartphone */
@media screen and (max-width: 600px) {
    h1{
        font-size: 20px;
    }
    .image-container{
        margin: 10px;
    }
}