@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Sen&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-style: Bebas Neue, sans-serif;
}